<div class="cash-daily">
  <div class="hero position-relative" style="height: 110vh">
    <img class="position-absolute" src="{{ site.baseurl }}{{ '/assets/hand-phone.png'}}" style="bottom: 0px; left: 0; max-height: 75%;z-index: -1;" />
    <div class="position-absolute text-white text-center arrow-scroll">
      <p>
        Scroll To Continue
        </p>
      <span>
        {% include arrow.svg %}
      </span>
    </div>
    <div class=" welcome-container w-100 align-content-start d-flex d-lg-none" style="padding-top: 0%; z-index: 1">
      <div class="welcome bg-black shadow w-100">
        <div class="container w-100">
          <div class="row w-100">
            <div class="col d-flex flex-column align-self-start text-white py-3 px-4">
              <h1 class="m-0 text-md-smaller">Cash: Daily</h1>
              <h2>Offline Cash Tracker</h2>
              <a href="https://apps.apple.com/us/app/cash-daily/id1471456584" target="_blank">{% include Download_on_the_App_Store_Badge_US-UK_RGB_wht_092917.svg %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container h-100 align-content-end justify-content-end d-none d-lg-flex" style="z-index: 1">
      <div class="row welcome-container">
        <div class="col d-flex flex-column align-self-start text-white bg-black rounded py-3 px-4 shadow welcome" style="margin-top: 20vh;opacity: 1;">
          <h1 class="m-0">Cash: Daily</h1>
          <h2>Offline Cash Tracker</h2>
          <a href="https://apps.apple.com/us/app/cash-daily/id1471456584" target="_blank">{% include Download_on_the_App_Store_Badge_US-UK_RGB_wht_092917.svg %}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content green pb-5">
    <div class="container">
      <div class="row justify-content-around align-items-end">
        <div class="col col-xs-12 hero-spacer pt-5">
          <h2>Track Cash Fast, and Offline!</h2>
          <h5><b>WiFi Not Needed</b>, track expenses on the go and offline.</h5>
          <h5 class="pb-5">All data is stored on your iPhone, keep your data yours!</h5>
        </div>
        <div class="col col-12 col-md-auto align-center-mobile-md">
          <img src="{{ site.baseurl }}{{ '/assets/cash-daily-screenshot-1.png'}}" style="max-height: 550px;" class="pb-3"  />
        </div>
      </div>
    </div>
  </div>

  <div id="section-2-m" class="content position-relative texture py-5">
    <div class="position-relative d-flex justify-content-center">
      <div id="section-2-item-1" class="container">
        <div class="row">
          <div class="col col-12">
            <div class="row justify-content-center">
              <div class="col col-12 pb-3 pt-5 position-relative order-1 order-lg-2" style="max-width: 500px;">
                <h2>Recurring...</h2>
                <h5>Add recurring revenue and expenses. Then we break down your cash flow into daily, weekly, and monthly amounts.</h5>
                <button class="btn recurring-details-button">Details</button>
                <div class="details recurring-details">
                  <p class="mt-0">
                    Swipe right <b>-></b> to archive an item.
                  </p>
                  <p class="m-0">
                    Swipe left <b><-</b> and <b>tap</b> to delete an item.
                  </p>
                </div>
              </div>

              <div class="col col-12 col-md-auto position-relative align-center-mobile-md order-2 order-lg-1">
                <img src="{{ site.baseurl }}{{ '/assets/Recuring-screenshot.png'}}" style="max-height: 550px" class="mt--3 pb-3" />
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col col-12 pb-3 pt-5 position-relative" style="max-width: 500px;">
                <h2>Customizable Entry...</h2>
                <h5>Cash flow can be tracked over days, weeks, months, or years.  With lots of options, it supports your every use.</h5>
                <button class="btn highly-customizable-details-button">Details</button>
                <div class="details highly-customizable-details">
                  <p class="m-0">
                    Tap the <b>+</b> to change between <b>revenue</b> and <b>expenses</b>.
                  </p>
                </div>
              </div>

              <div class="col col-12 col-md-auto position-relative align-center-mobile-md">
                <img src="{{ site.baseurl }}{{ '/assets/Recuring-form-screenshot.png'}}" style="max-height: 550px" class="mt--3 pb-3" />
              </div>
            </div>

            <div class="row justify-content-center">

              <div class="col col-12 pb-3 pt-5 position-relative order-1 order-lg-2" style="max-width: 500px;">
                <h2>Daily Expenses...</h2>
                <h5>Add your expenses when they happen.  This will adjust your remaining cash flow for the day.  See what you spent yesterday and how much you can spend tomorrow.</h5>
                <button class="btn daily-details-button">Details</button>
                <div class="details daily-details">
                  <p class="m-0">
                    Swipe left <b><-</b> and <b>tap</b> to delete an item.
                  </p>
                </div>
              </div>

              <div class="col col-12 col-md-auto position-relative align-center-mobile-md order-2 order-lg-1">
                <img src="{{ site.baseurl }}{{ '/assets/cash-screenshot.png'}}" style="max-height: 550px" class="mt--3 pb-3" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section-3-m" class="content position-relative green py-5">
    <div class="position-relative d-flex justify-content-center">
      <div id="section-2-item-1" class="container">
        <div class="row">
          <div class="col col-12">
            <div class="row justify-content-center">
              <div class="col col-12 pb-3 pt-5 position-relative" style="max-width: 500px;">
                <h2>Highly Configurable</h2>
                <h5>Works for you in the USA, Europe, Mexico, China, and more!
                  Add and duplicate scenarios to support vacations, travel, and goals!</h5>
                <button class="btn btn-white scenarios-details-button">Details</button>
                <div class="details scenarios-details">
                  <h5 style="font-weight: bold;border-bottom: 1px solid;">Scenarios</h5>
                  <p class="mt-0">
                    Swipe right <b>-></b> and <b>tap</b> to duplicate a scenario.
                  </p>
                  <p class="m-0">
                    Swipe left <b><-</b> and <b>tap</b> to delete a scenario.
                  </p>
                </div>
              </div>

              <div class="col col-12 col-md-auto position-relative align-center-mobile-md">
                <img src="{{ site.baseurl }}{{ '/assets/settings-screenshot.png'}}" style="max-height: 550px" class="mt--3 pb-3" />
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col col-12 pb-3 pt-5 position-relative order-1 order-lg-2" style="max-width: 500px;">
                <h2>Convert currencies</h2>
                <h5>Enter in the conversion rate and convert your scenarios at the touch of a button</h5>
              </div>

              <div class="col col-12 col-md-auto position-relative align-center-mobile-md order-2 order-lg-1">
                <img src="{{ site.baseurl }}{{ '/assets/convert-screenshot.png'}}" style="max-height: 550px" class="mt--3 pb-3" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section-4-m" class="content position-relative d-flex align-items-center py-5" style="min-height: 100vh;overflow: hidden">
    <div class="position-relative d-flex justify-content-center" style="flex: 1">
      <div id="section-2-item-1" class="container">
        <div class="row">
          <div class="col col-12">
            <div class="row justify-content-center">
              <div class="col col-12 pb-3 pt-5 position-relative text-center" style="max-width: 500px;">
                <h2 class="mb-0 mt-5">Available Now</h2>
                <h6 class="mb-4 mt-0 items" style="font-size: 1rem">
                  <span class="mr-3">Supports: <b>All Regions</b></span>
                  <span>Ages: <b>+4</b></span>
                </h6>
                <h6 class="mt-5" style="font-size: 1rem">Price: <b>$0.99</b></h6>
                <a href="https://apps.apple.com/us/app/cash-daily/id1471456584" target="_blank">{% include Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg %}</a>
              </div>

              <div class="col col-12 col-md-auto position-relative d-none d-lg-flex">
                <img src="{{ site.baseurl }}{{ '/assets/splash-screenshot.png'}}" style="max-height: 550px" class="mt--3 pb-3" />
              </div>
              <div class="col col-12 position-relative d-flex d-lg-none justify-content-center">
                <img src="{{ site.baseurl }}{{ '/assets/splash-screenshot.png'}}" style="max-height: 550px; margin-bottom: -340px" class="mt--3 pb-3" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
